<div>
    <div>
        <form action="/addRoom" method="POST">
            Nombre de la sala: <input type="text" name="nombreSala">
            <button type="submit">Crear</button>
        </form>
    </div>
</div>
