<div>
    <br><br><br>
    <div id="container">
        <div id="window">
            <div id="output"></div>
            <div id="input"></div>
        </div>
        <input type="hidden" id="username" value={{myUser.user}}>
        <input type="text" id="message" placeholder="PostIt">
        <button id="send">Send</button>

    </div>
</div>

Salas <br>
{{#each rooms}}
<div class=" card-deck" style="width: 20rem;">
    <div class="card">
        <div class="card text-center">
            <ul class="list-group list-group-flush">
                <p class="card-text">{{name}}</p>
            </ul>
            <a class="btn btn-outline-dark btn-sm" id="{{_id}}">Join</a>
        </div>
    </div>
</div>
{{/each}}

<a class="btn btn-outline-dark btn-sm" href="/postit">PostIt</a>


<img id="videoPlayer"></img>



<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="Socket.js"></script>