<div>
    <form action="/signup" method="POST">
        Email/User<input type="text" name="email">
        Password<input type="text" name="password">
        <button type="submit">SignUp</button>
    </form>
</div>