<div>
    <form action="/signin" method="POST">
        Email<input type="text" name="email">
        Password<input type="text" name="password">
        User<input type="text" name="user">
        <button type="submit">SignIn</button>
    </form>
</div>